#contents div.sec-2 .committee aside .list .group div.pic1 {
  background-image: url("../Pic/1.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic2 {
  background-image: url("../Pic/2.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic3 {
  background-image: url("../Pic/3 Dr. Reuven Gal.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic4 {
  background-image: url("../Pic/4 asoke-saha.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic5 {
  background-image: url("../Pic/5 Patryk-Stecz.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic6 {
  background-image: url("../Pic/6 Katarina-Millova.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic7 {
  background-image: url("../Pic/7 Dinie Ratri.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic8 {
  background-image: url("../Pic/8 Dr. Narendra Thaguna.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic9 {
  background-image: url("../Pic/9 Dr Conrad Zygmont.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic10 {
  background-image: url("../Pic/10 Sandeep-Kumar.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic11 {
  background-image: url("../Pic/11 Dr V K Singh.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic12 {
  background-image: url("../Pic/12 Dr. Pooja Purang.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic13 {
  background-image: url("../Pic/13 Dr SPK Jena.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic14 {
  background-image: url("../Pic/14 Rasmita_Das_Swain.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic15 {
  background-image: url("../Pic/15 Prof S K Sia.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic16 {
  background-image: url("../Pic/16 Dr. Rabindra Kumar Pradhan.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic17 {
  background-image: url("../Pic/17.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic18 {
  background-image: url("../Pic/18 Dr Nishant Goyal.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic19 {
  background-image: url("../Pic/19 Nilesh-Thakre.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic20 {
  background-image: url("../Pic/20 Pooja-Garg-3.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic21 {
  background-image: url("../Pic/21.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic22 {
  background-image: url("../Pic/22 Dr Suvashisa Rana.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic23 {
  background-image: url("../Pic/23 Dr Abhay Kumar.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic24 {
  background-image: url("../Pic/24.jpeg");
}

#contents div.sec-2 .committee aside .list .group div.pic25 {
  background-image: url("../Pic/25 Sandhyarani-Mohanty.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic26 {
  background-image: url("../Pic/26.png");
}

#contents div.sec-2 .committee aside .list .group div.pic27 {
  background-image: url("../Pic/27.PNG");
}

#contents div.sec-2 .committee aside .list .group div.pic28 {
  background-image: url("../Pic/28.jfif");
}

#contents div.sec-2 .committee aside .list .group div.pic29 {
  background-image: url("../Pic/29.jpg");
}

#contents div.sec-2 .committee aside .list .group div.pic30 {
  background-image: url("../Pic/30.png");
}
/*# sourceMappingURL=pic.css.map */
